*{
	margin:0;
    padding:0;
} 


 body{
	  background-image:linear-gradient(rgba(255, 6, 6, 0.76),rgba(19, 19, 212, 0.8)), url("background.jpeg");
	  height: 100vh;
      background-size: cover;
      background-attachment: fixed;
  }
 
     .menu{
           position: relative;
	       display: inline-block;
          }

     a{
          display: inline-block;
           border: 1px ;
         border-radius: 30px;
           cursor: pointer;
           text-align: center;
           text-decoration: none;
           width: 60px;
           background-color: #f6ff17;
		  font-family:Lucida Sans Unicode;
		  font-size:16px;
}

       #drop{
           display: block;
           border: 1px ;
           cursor: pointer;
           margin: 2px;
           text-align: center;
           border-radius: 15px;
           width: 100px;
           background-color: #f7ab00;
		  font-family:Lucida Sans Unicode;
		  font-size:20px;
	   }
	    #submenu{
			background-color: gold;
			color:midnightblue;
			display: none;
			position: absolute;
			min-width: 150px;
		}
		  #submenu a{
			  color:black;
			  padding:12px 16px;
			  display:block;
		  }


		p1{
            display: inline-block;
            border-radius: 2px;
		   font-style:bold;
		   font-size:35px;
		   text-color: darkmagenta;
            text-align: center;
		   color:white;
		   background-color:midnightblue;
		   padding-left:370px;
            padding-right: 412px;
		   font-family:Times New Roman;
		   }

         [href="https://towardshack.blogspot.com"]{
             display:block;
             border-radius: 5px;
             width: 700;
             text-align: center;
             margin-left: 300px;
             border: 1px solid white;
             background-color:#f5ff00;
			 color:#00006d;
			 font-weight: bold;
			 font-size: 25px;
             text-decoration: none;
		}

[href="https://towardshack.blogspot.com"]:hover{
    color:#1111e0;
}


		p.second{
        display: block;
        margin-left:350px;
        border-radius: 20px;
        background-color: darkorange;
        width: 600;
        text-align: center;
		font-family:Consolas;
		border:1px solid #dffcee;
		font-style:oblique;
		font-size:25px;
        font-weight: bolder;
		color:black;
		}

  div.fname, div.sname{
      
      color:black;
      font-family: DialogInput;
      font-size: 18px;

  }
  #fname,#sname{
      display: block;
      background-color: #ffba00;
      padding: 5px;
      border-radius: 2px;
      color: black;
      font-weight: bold;
  }

  #firstb, #secondb, #toggle, #fadeto, #slideup, #slidedown, #square,#squarestop,#text,#html,#val,#val1
		,#stext,#shtml,#sval,#sval1,#rval,#rval1,#empty, #attr, #sattr{
			
		font-family:Lucida Sans Unicode;
		font-weight:bolder;
		margin:5px;
		padding-left:30px;
		padding-right:30px;
		font-stretch:0px;
		font-size:15px;
		}

		#animation{
			background-color: #ffc400;
            display: block;
            border-bottom-right-radius: 300px;
            border-top-right-radius: 300px;
			height: 50px;
			width: 50px;
			position: absolute;
            margin: 20px;

		}

		
		
	